
.addTag{
  position: absolute;
  width: 4rem;
  height: 1.2rem;
  transform: translate(90%,20%);
  background-color: transparent;
  font-size: 12px;
  border: 1.5px solid rgb(0, 200, 255);
  color: rgb(0, 200, 255);
  cursor: pointer;
  border-radius: 20px;

}

.addTag:hover {
  background-color: rgb(255, 255, 255,0.7);
}
